<div id="user" class="user-box">
  <p class="text" id="show-login">
    <a href="{{ '/login/' | url }}">Login</a>
  </p>
  <p class="text" id="show-logout" hidden>
    Connected as <strong id="username"></strong><br>
    <a href="{{ '/history/' | url }}">History</a> · <a href="#" id="logout">Logout</a>
  </p>
</div>
<script>
  import '~/assets/app/user-box.ts'
</script>
