---
layout: html.njk
---
<h1 class="page-title">musixy</h1>
{% include 'user.njk' %}
<div class="contribute-form">
  <form action="">
    <p class="long-input">
      <label for="youtubeLink">Youtube link:</label>
      <input type="text" name="youtubeLink" id="youtubeLink" size="50" required></p>
    <p>
      <canvas id="board" class="canvas"></canvas>
      <input type="hidden" name="x">
      <input type="hidden" name="y">
    </p>
    <p class="_center">
      <button type="submit" disabled>Add song</button>
      <strong id="tip">Click on the board to place the song</strong>
    </p>
  </form>
</div>
<p class="_center">
  <a href="{{ '/' | url }}">Back to homepage</a>
</p>
<script>
  import {ContributeApp} from '~/assets/app/contribute-app'

  const app = new ContributeApp(document.querySelector('#board'))
  app.run()
</script>
