---
layout: html.njk
---
<h1 class="page-title">musixy</h1>
{% include 'user.njk' %}
<div class="playlist-generator">
  <div class="wrapper">
    <canvas id="board" class="canvas"></canvas>
    <div id="playlist" class="playlist">
      <p class="user-instruction">Click twice on the whiteboard to create a playlist</p>
    </div>
  </div>
</div>
<p class="_center">
  <a href="{{ '/contribute' | url }}">Add a song</a>
</p>
<script>
  import {HomeApp} from '~/assets/app/home-app'

  const app = new HomeApp(document.querySelector('#board'))
  app.run()
</script>
