---
layout: html.njk
---
<h1 class="page-title">musixy</h1>
<form action="#" id="login-form" class="login-form">
  <h2>Log in</h2>
  <p class="long-input">
    <label for="username">User name:</label>
    <input type="text" id="username" name="username">
  </p>
  <p class="long-input">
    <label for="username">Password:</label>
    <input type="password" id="password" name="password">
  </p>
  <p class="_center">
    <button type="submit">Log in</button>
  </p>
</form>
<p class="_center">
  <a href="{{ '/' | url }}">Back to homepage</a>
</p>
